<form asp-controller="Usuario" asp-action="Logoff">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Sair do sistema</h5>
            <p class="card-text">Você reamente deseja sair do sistema?</p>
            <input type="submit" value="Sim" class="btn btn-primary" />
        </div>
    </div>
</form>